// base font
$font-size: 14px;
$line-height: 1.857142857em;

// common colors
$bgcol: #f2f2f2;
$bgcol-h: #ebebeb;
$blue: #81b3d2;
$blue-hover: #669ec0;
$blue-active: #5496bd;
$blue-hover-2: darken($blue, 20%);
$blue-active-2: darken($blue, 25%);
$b3-bgc: #EEEEEE;
$brown: #766357;



// grid
$promo-grid-w: 5;

// screen width
$middle-scr: 480px;
$large-scr: 767px;

// search paddings
$pd1: 50px;
$pd2: 35px;